DATABASE_URL=postgres://postgres:dev@localhost:5433/widgets
SUPABASE_URL=https://heoocnfqbaqdjbtjolwt.supabase.co 
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhlb29jbmZxYmFxZGpidGpvbHd0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2MDYzNDIsImV4cCI6MjEwNDE4MjM0Mn0._DWr-5zFiSI7WQZzqQpgpRMshfJH0Jcn7gDriV02NtQ